main {
	background-color: rgba(0,0,0,.2);
	border-radius: 30px;
	margin: 0 3em 3em 0;
	flex-direction: row;
  display: flex;
	flex: 1;
	justify-content: space-between;
	padding-right: 3em;
}

.container, .container > div {
	display: flex;
	flex: 1;
}

section {
	margin: 3em;
	margin-right: 0;
}

section:first-child {
	margin-bottom: 0;
}

section:last-child {
	margin-bottom: 3em;
}