/*should get sass wired up here */

aside.navigation nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	opacity: 1;
}

aside.navigation nav ul li{
	flex: 1 1 40px;
}

aside.navigation nav ul li a {
	text-decoration: none;
}