body, #root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #333949;
	color: white;
}

body > #root> div {
	display: flex;
  flex: 1;
}

header {
	flex: 0 0 100%;
	padding-left: 15em;
}

aside {
  flex: 0 0 15em;
}

main {
 flex: 1;
}

a {
	color: white;
}