body, #root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #333949;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

body > #root> div {
	display: flex;
  flex: 1;
}

a {
	color: white;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}